@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Payment Samples</h1> 
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Alipay</h2> 
        <p><a class="btn btn-default" href="/home/alipay">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Paypal</h2>
        <p><a class="btn btn-default" href="/home/paypal">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Stripe</h2>
        <p><a class="btn btn-default" href="/home/stripe">Learn more &raquo;</a></p>
    </div>
</div>